<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Okta OpenID Connect Code Flow Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Okta Code Flow Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Sign In with OpenID Connect", "Tokens", "Callback")</li>
                    }
                    else
                    {
                        <p class="navbar-text">Signed in as @User.Identity.Name</p>
                        <li>@Html.ActionLink("My Claims", "Index", "App")</li>
                        <li>@Html.ActionLink("Call API", "GetProtectedResource", "CallApi")</li>
                        <li>@Html.ActionLink("Sign Out", "SignOut", "Home")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OAuth Authorization Code Flow Demo with Microsoft OWIN middleware</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
